@page "/Highscores"

@inject HttpClient HttpClient

<center>
<h1>
    <img src="/Top10Highscores.png" alt="Top 10 Highscores">
</h1>

@if (highscores == null)
{
        <p><b>Loading...</b></p>
}
else if (highscores.Count == 0)
{
        <p><b>No highscores found.</b></p>
}
else
{
        <table>
            <thead>
                <tr>
                    <th><img src="/Name.png" alt="Name"></th>
                    <th><img src="/Time.png" alt="Time"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var highscore in highscores)
            {
                        <tr>
                        <td><b>@highscore.Name</b></td>
                        <td><b>@highscore.Time</b></td>
                        </tr>
            }
            </tbody>
        </table>
}
</center>

@code {
    private List<Highscore> highscores;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await HttpClient.GetAsync("https://localhost:7042/highscores/top10");
            response.EnsureSuccessStatusCode();
            highscores = await response.Content.ReadFromJsonAsync<List<Highscore>>();
        }
        catch (Exception ex)
        {
            // Log or handle any errors that occur while retrieving the highscores
            Console.WriteLine(ex);
        }
    }
}
