@page "/"

<PageTitle>Rules</PageTitle>

<center>
    <h1><img src="/ReactionGameRules.png" alt="Rules"></h1>
    <div class="button">
<p><b>Press the Start-Button, wait until the it tells you to press again!</b></p>
</div>
</center>